.camera-container {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  .webcam {
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
  
  .info-container {
    padding: 16px;
    text-align: center;
  }
  
  .coordinate {
    margin-bottom: 8px;
  }
  
  @media screen and (max-width: 600px) {
    .info-container {
      font-size: 14px;
    }
  }
  